version: '3.8'

services:
  react:
    labels:
      shipyard.route: '/'
    build:
      context: .
    ports:
      - '3000:3000'
    volumes:
      - './src:/app/src'
      - './public:/app/public'